.reveal ul,ol,p,pre {
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
    font-size: 0.8em;
    }
.reveal ul{
    line-height: 1.5;
}

.reveal code.hljs{
    font-family: "Iosevka Web", "Fira Sans", monospace;
    font-size: 0.7em;
    line-height:1.5;
}
.reveal code:not(.bash):not(.css):not(.processing):not(.js){
    font-family: "Iosevka Web", "Fira Sans", monospace;
    color: HotPink;
}

.reveal a{
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
    color: DodgerBlue;
}

.reveal a:hover{
    color: RoyalBlue;
}

.reveal b {
   /* color:#cdd7d7; */
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Iosevka Web", "Fira Sans", sans-serif;
  /* margin: 0 0 20px 0; */
  /* color: #eee8d5; */
  /* line-height: 0.9em; */
  /* letter-spacing: 0.02em; */
  /* text-transform: uppercase; */
  /* text-shadow: none; */
}

#left {
	margin: 10px 0 15px 20px;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
}

#right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
}

.figure p {
    font-family: "Iosevka Web", "Fira Sans", sans-serif;
    font-size: 0.6em;
}

.org-svg {
    width: 100%;
    height: 100%;
}

/* CSS Copycode style */

.reveal pre, .codeblock {
  width: 100%; }

.codeblock {
  margin: 20px auto;
  position: relative; }

/* .codeblock pre { */
/*   margin: 0; */
/*   width: 100%; */
/*   font-size: 1rem; } */

.codeblock > button {
  opacity: 0.5;
  z-index: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: orange;
  color: black;
  border: 0;
  margin: 0;
  padding: .2em .5em;
  font-family: "Iosevka Web", "Fira Sans", sans-serif;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.25s ease-in-out, opacity .25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, opacity .25s ease-in-out;
  transition: background-color 0.25s ease-in-out, opacity .25s ease-in-out;
  cursor: pointer; }

.codeblock > button:hover, pre > button:hover {
  opacity: 1; }

.codeblock > button[disabled] {
  opacity: 1;
  background: green;
  color: white;
  cursor: default; }

.codeblock > button:focus {
  outline: 0; }

/* Estilo para impresion pdf */

html.print-pdf	* {
		-webkit-print-color-adjust: exact;
	}

html.print-pdf & {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

html.print-pdf body {
		margin: 0 auto !important;
		border: 0;
		padding: 0;
		float: none !important;
		overflow: visible;
	}

	/* Remove any elements not needed in print. */
html.print-pdf .nestedarrow,
html.print-pdf .reveal .controls,
html.print-pdf .reveal .progress,
html.print-pdf .reveal .playback,
html.print-pdf .reveal.overview,
html.print-pdf	.state-background {
		display: none !important;
	}

html.print-pdf .reveal pre code {
		overflow: hidden !important;
		font-family: Courier, 'Courier New', monospace !important;
	}

html.print-pdf	.reveal {
		width: auto !important;
		height: auto !important;
		overflow: hidden !important;
	}
html.print-pdf	.reveal .slides {
		position: static;
		width: 100% !important;
		height: auto !important;
		zoom: 1 !important;
		pointer-events: initial;

		left: auto;
		top: auto;
		margin: 0 !important;
		padding: 0 !important;

		overflow: visible;
		display: block;

		perspective: none;
		perspective-origin: 50% 50%;
	}

html.print-pdf	.reveal .slides .pdf-page {
		position: relative;
		overflow: hidden;
		z-index: 1;

		page-break-after: always;
	}

html.print-pdf	.reveal .slides section {
		visibility: visible !important;
		display: block !important;
		position: absolute !important;

		margin: 0 !important;
		padding: 0 !important;
		box-sizing: border-box !important;
		min-height: 1px;

		opacity: 1 !important;

		transform-style: flat !important;
		transform: none !important;
	}

html.print-pdf	.reveal section.stack {
		position: relative !important;
		margin: 0 !important;
		padding: 0 !important;
		page-break-after: avoid !important;
		height: auto !important;
		min-height: auto !important;
	}

html.print-pdf	.reveal img {
		box-shadow: none;
	}


	/* Slide backgrounds are placed inside of their slide when exporting to PDF */
html.print-pdf	.reveal .backgrounds {
		display: none;
	}
html.print-pdf	.reveal .slide-background {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: auto !important;
	}

	/* Display slide speaker notes when 'showNotes' is enabled */
html.print-pdf	.reveal.show-notes {
		max-width: none;
		max-height: none;
	}
html.print-pdf	.reveal .speaker-notes-pdf {
		display: block;
		width: 100%;
		height: auto;
		max-height: none;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		z-index: 100;
	}

	/* Layout option which makes notes appear on a separate page */
html.print-pdf	.reveal .speaker-notes-pdf[data-layout="separate-page"] {
		position: relative;
		color: inherit;
		background-color: transparent;
		padding: 20px;
		page-break-after: always;
		border: 0;
	}

	/* Display slide numbers when 'slideNumber' is enabled */
html.print-pdf	.reveal .slide-number-pdf {
		display: block;
		position: absolute;
		font-size: 14px;
	}

	/* This accessibility tool is not useful in PDF and breaks it visually */
html.print-pdf	.aria-status {
		display: none;
	}
